services:
  kalibr:
    build:
      context: .
      dockerfile: Dockerfile

    image: kalibr:latest

    tty: true
    stdin_open: true

    working_dir: /kalibr

    volumes:
      - ../:/kalibr

  kalibr_ros_no_gpu:
    build:
      context: .
      dockerfile: Dockerfile.ros

    image: kalibr_ros:latest

    tty: true
    stdin_open: true

    working_dir: /kalibr

    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - XAUTHORITY=/root/.Xauthority
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID:-0}

    volumes:
      - ../:/kalibr
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $HOME/.Xauthority:/root/.Xauthority

  kalibr_ros:
    extends: kalibr_ros_no_gpu

    runtime: nvidia

    environment:
      - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
      - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES:-all}

